@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------Gloval---------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 15px 80px;
}

.btn-primary {
    padding: 21px 35px;
    background-color: #F948B2;
    font-size: 1.4rem;
    border-radius: 48px;
    border: 0;
    color: white;
}

/* ----------Gloval---------- */

/* ----------Navbar---------- */
.nav-back {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.g {
    color: #ff42a5;
}

.gamer {
    font-size: 2.813rem;
    font-weight: 700;
    color: #0B0223;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    font-weight: 500;
    font-size: 1rem;
}

.list-border {
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 30px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* ----------Navbar---------- */



/* ----------Main---------- */
.banner {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    /* align-items: center; */
    width: 100%;
}

.banner-left {
    /* padding-right: 370px; */
    width: -webkit-fill-available;
    background-image: url(./images/Group\ 14.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    float: left;
}

.left-container {
    padding-top: 15px;
    padding-left: 80px;
}

.play {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    /* text-align: center; */
    font-size: 5.938rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list i {
    margin: 7px 15px;
}

.btn-one {
    margin-right: 30px;
    margin-top: 41px;
}

.btn-two {
    background-color: #534c64;
    margin-top: 41px;
}

.right-container {
    padding-top: 15px;
    padding-right: 80px;
}

.right-img {
    width: 100%;
    height: 98vh;
}

.left-image {
    width: 90%;
}

.banner-2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner2-container {
    display: flex;
    align-items: center;
}

.banner-2-right {
    text-align: right;
    max-width: 500px;
}

.banner-2-description {
    max-width: 600px;
    color: #534C64;
    text-align: right;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-three {
    margin: 15px 0;
}

.purpose {
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.unless {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

.wrgamer {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.funny {
    margin: 90px 0;
}

.funny-title {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-description {
    text-align: center;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.cards {
    display: flex;
    gap: 24px;
}

.card img {
    width: 279px;
}

.card-description {
    width: 270px;
}

.card {
    margin: 30px 0;
}

.banner-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
}

.left-3 {
    margin: 220px auto;
}

.left-3-title {
    max-width: 341px;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    /* 125% */
}

.left-3-description {
    max-width: 347px;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
}

.play-ins {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.parent {
    margin-left: 158px;
}

.right-3-child {
    width: 321px;
    position: relative;
    bottom: 285px;
}

.games-btn{
    background-color: #FFF;
    border: none;
    border-radius: 50px;
}

.btn-first-line {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.btn-second-line {
    display: flex;
    gap: 1rem;
    margin: 0 40px;
    align-items: center;
    text-align: center;
}

.games-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    justify-content: center;
}
.games-title{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}
.games-btn:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    cursor: pointer;
}



/* ----------Main---------- */